/* -------- MOBILE FIRST -------- */

:root {
  --clr-pri: hsl(263, 45%, 56%);
  --clr-pri-dark: hsl(263, 45%, 41%);
  --clr-sec: hsl(289, 100%, 96%);
  --clr-tri: hsl(170, 100%, 39%);
  --clr-blue: hsl(211, 88%, 33%);
  --clr-pri-inv: hsl(76, 39%, 39%);
  --clr-back: hsla(263, 45%, 56%, 0.85);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--clr-sec);
  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

/* -------- Navigation Styles -------- */

header {
  text-align: center;
  position: relative;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: var(--clr-pri);
}

header h1 {
  margin: 0;
}

header h1 img {
  max-width: 250px;
  /* margin-right: 2em; */
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}
.nav-toggle-label span::after {
  top: 7px;
}

.nav-toggle:checked ~ nav {
  /* display: block; */
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 300ms;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background-color: var(--clr-back);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* nav .CurrentPage, */
nav li {
  margin-bottom: 1em;
  margin-left: 2em;
  border: 1 solid black;
}

nav .CurrentPage,
nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.125rem;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  padding: 0.125rem 0 5rem;
}

nav a:focus,
nav a:hover {
  outline: none;
  color: var(--clr-sec);
  background: var(--clr-pri-dark);
}

/* ---------------------------------- */
/* -------- MAIN BODY STYLES -------- */
/* ---------------------------------- */

/* ------ Banner ------ */
.banner2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
}

.banner {
  display: flex;
  flex-direction: column;
  background-color: #111122;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 420px;
  width: 100%;
  max-width: 1350px;
  color: #fff;
  position: relative;
  margin: 0 auto;
}

.banner__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 1rem;
  height: 100%;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 20%,
    rgba(0, 0, 0, 0.2) 35%,
    rgba(0, 0, 0, 0.75) 100%
  );
}

.banner__title {
  max-width: 100%;
  margin: auto 0 1rem;
  font-size: clamp(1.75rem, 1.4409rem + 1.3737vw, 2.6rem);
  font-weight: 500;
  line-height: 1.2em;
}

.banner__desc {
  font-size: clamp(1rem, 0.8182rem + 0.8081vw, 1.5rem);
  margin: 0;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5em;
  text-align: left;
  max-width: 100%;
}

.banner2 img {
  max-width: 1350px;
  max-height: 420px;
  overflow: hidden;
  object-position: top;
  object-fit: cover;
}

.banner2 p {
  color: var(--clr-pri);
  text-align: center;
  margin: 0 1em 1em 1em;
  font-size: 1.25rem;
  font-weight: 700;
}

.titles {
  display: flex;
  justify-content: center;
  color: var(--clr-pri);
  margin: 0.5em auto 0 auto;
  text-align: center;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.titles img {
  width: 25px;
  height: 25px;
  min-width: 25px;
  object-fit: none;
  margin: auto 1em;
}

.titles h1 {
  margin: 0;
  /* margin: 0.5em 1em 0.5em 1em; */
}

/* ------ BODY ------ */

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

section {
  max-width: 1000px;
}

section a {
  text-decoration: none;
  color: var(--clr-sec);
}

section a:focus,
section a:hover {
  outline: none;
}

/* --------------------------- */
/* ------ Card 1 - Home ------ */
/* --------------------------- */
.card {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-pri);
  width: 300px;
  margin: 1em auto;
  padding: 1em;
  border-radius: 0.5em;
  text-align: center;
  transition: transform 250ms ease-in-out;
}

.card-shadow {
  position: relative;
}

.card-shadow::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.5);
  transition: opacity 250ms ease-in-out;
  border-radius: 0.5em;
}

.card-shadow:hover,
.card-shadow:focus {
  transform: scale(1.05);
}

.card-shadow:hover::after,
.card-shadow:focus::after {
  opacity: 1;
}

.card img {
  width: 100%;
  max-height: 200px;
  overflow: hidden;
  border-radius: 0.5rem;
}

.card div {
  margin: 0.5em 0;
  height: 100%;
  min-height: 4.5rem;
  display: flex;
}

.card h2 {
  line-height: 1em;
  font-weight: 500;
  align-items: center;
  color: white;
  margin: auto;
}

.card ul {
  padding-inline-start: 0;
  margin: 0;
}

.card li {
  list-style: none;
  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.25em;
}

.card button {
  display: flex;
  margin: 2.5em 0.5em 0.5em auto;
  color: var(--clr-pri);
  padding: 0.25em 0.75em;
  align-items: center;
  font-weight: 600;
  background-color: var(--clr-sec);
  border-radius: 0.25rem;
  border: 0;
}

.card button img {
  width: 25px;
  height: 20px;
  padding: 0 5px 0 0;
}

/* ---------------------------------------------- */
/* ------ Card 2 - Puppy and Dog Training  ------ */
/* ---------------------------------------------- */

.card2 {
  display: flex;
  flex-direction: column;
  /* background-color: var(--clr-pri); */
  /* border-radius: 0.5em; */
  max-width: 1000px;
  margin: 1em;
  justify-content: center;
  color: var(--clr-pri);
}

.card2 .outer {
  margin: auto;
  /* width: max-content; */
  max-width: 100%;
  align-items: center;
}

.card2 .outer a {
  margin: 0 auto;
  display: block;
}

.card2 .outer img {
  margin: 1rem auto;
  max-width: 250px;
}

.card2 .subheading {
  font-size: 1.25rem;
}

.card2__title {
  margin: 0;
  color: var(--clr-pri);
  font-weight: 800;
  font-size: 2rem;
  border-bottom: var(--clr-pri) 5px solid;
}

.card2-inner {
  background-color: var(--clr-sec);
  color: var(--clr-pri);
  margin: 0;
  padding: 1em;
  padding-top: 0;
  border-radius: 0.25em;
  font-size: 1.125rem;
  font-weight: 600;
}

.card2-inner .title {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

.card2-inner p:first-of-type {
  margin-top: 0;
}
.card2-inner p {
  margin-bottom: 0;
}

.highlight {
  color: var(--clr-pri-dark);
  /* font-weight: 700; */
  font-size: 1.25rem;
}

.card2-inner ul {
  margin-top: 0;
  margin-left: 2rem;
  list-style-image: url(/assets/images/purple\ paw\ VS.png);
}

.wide {
  display: flex;
  flex-direction: row;
  font-weight: 800;
  justify-content: space-evenly;
  text-align: center;
  margin: 0 auto;
  /* margin-bottom: 0; */
  max-width: 500px;
}

.wide .big {
  padding: 0 1rem;
  font-size: 3rem;
  margin: 0 auto;
  line-height: 3rem;
}

.wide .med {
  padding: 0 1rem;
  font-size: 2.25rem;
}

.wide .small {
  font-weight: 700;
}

.sub {
  font-size: 0.8rem;
}

/* --------------------------- */
/* ------ FOOTER STYLES ------ */
/* --------------------------- */

.home-footer {
  display: flex;
  justify-content: center;
  max-width: 1350px;
  flex-wrap: wrap;
  margin: 2em auto;
  justify-content: space-evenly;
}

.home-footer img {
  margin: 1em auto;
}

footer {
  display: flex;
  justify-content: space-between;
  margin: 1em;
  max-width: 1350px;
  margin: 2rem auto;
  padding: 1em;
}

/* ------------ MEDIA QUERIES ----------- */
/* -------- LARGER SCREEN STYLES -------- */

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    max-width: 1350px;
    grid-template-columns: auto minmax(600px, 5fr);
    justify-content: center;
    margin: 0 auto;
    padding: 0 1em;
  }

  header h1 img {
    width: calc(150px + 5vw);
  }

  .logo {
    grid-column: 1 / 2;
  }

  nav {
    all: unset;
    grid-column: 2/3;
    /* align-items: center; */
    display: flex;
    justify-content: flex-end;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    height: max-content;
    margin-top: auto;
  }

  /* nav .CurrentPage, */
  nav li {
    isolation: isolate;
    margin: 0.5em 0 0.5em 1.5em;
  }

  nav .CurrentPage,
  nav a {
    opacity: 1;
    font-size: 1rem;
    position: relative;
    padding: 0 0.25em;
    color: var(--clr-sec);
    text-decoration: none;
    padding: 0.125rem 0.5rem;
  }

  /* nav a::after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transform-origin: 0 100%;
    transform: scaley(-0.05);
    background: var(--clr-sec);
    mix-blend-mode: difference;
    transition: transform 0.125s ease;
    content: '';
  } */

  nav a:focus,
  nav a:hover {
    outline: none;
    color: var(--clr-sec);
    background: var(--clr-pri-dark);
  }
  /* nav a:hover::after,
  nav a:focus::after {
    transform: none;
  } */

  /* nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: var(--clr-sec);
    position: absolute;
    top: -0.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  } */

  /* nav a:hover::before {
    transform: scale(1, 1);
  } */

  .banner__body {
    flex-direction: row;
  }

  .banner__title {
    width: 40%;
    margin: auto 0 0;
  }

  .banner__desc {
    width: 35%;
    margin: auto 0 0;
  }

  section {
    /* display: flex; */
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1350px;
  }

  section .card {
    margin: 1rem;
  }

  .card2 {
    flex-direction: row;
  }

  .card2 .outer {
    max-width: 250px;
  }
}

@media screen and (min-width: 650px) and (max-width: 801px) {
  section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  section.tiles {
    width: 650px;
  }
}

@media screen and (max-width: 650px) {
}

@media screen and (min-width: 900px) and (max-width: 1350px) {
  section.tiles {
    width: 800px;
  }
}

@media screen and (min-width: 1350.1px) {
  nav a {
    font-size: 1.125rem;
  }
}
