/* -------- MOBILE FIRST -------- */
:root {
  --clr-pri: hsl(263, 45%, 56%);
  --clr-pri-dark: hsl(263, 45%, 41%);
  --clr-sec: hsl(289, 100%, 96%);
  --clr-tri: hsl(103, 56%, 32%);
  --clr-blue: hsl(211, 88%, 33%);
  --clr-pri-inv: hsl(76, 39%, 39%);
  --clr-back: hsla(263, 45%, 56%, 0.95);
}

/* ------ RESETS ------ */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
li,
a,
div {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background: var(--clr-sec);
  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

button {
  background-color: var(--clr-tri);
  color: white;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 700;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  position: relative;
  -webkit-box-shadow: 0 20px 10px -10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 10px -10px rgba(0, 0, 0, 0.4);
}

button:active {
  content: '';
  -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.7);
          box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.7);
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  opacity: 1;
}

button:hover {
  -webkit-transform: scale(105%);
          transform: scale(105%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.active {
  background-color: var(--clr-pri-dark);
  border-radius: 0.25rem;
  padding: 0.25em;
}

a.noUnderline {
  text-decoration: none;
  color: var(--clr-pri);
}

/* -------------------- */
/* ------ HEADER ------ */
/* -------------------- */
header {
  position: relative;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: var(--clr-pri);
  max-width: 1350px;
  margin: 0 auto;
  border-radius: 0 0 0.5rem 0.5rem;
  overflow: hidden;
}

header .navrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 95px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-shadow: 0px 10px 10px -10px black;
          box-shadow: 0px 10px 10px -10px black;
  z-index: 10;
  font-weight: 500;
  /* ------------------------ */
  /* ------ Nav-Toggle ------ */
  /* ------------------------ */
}

header .navrow .logo {
  margin: 0;
  cursor: pointer;
}

header .navrow .logo img {
  max-width: 250px;
  margin: 0.5rem 1rem;
  -o-object-fit: cover;
     object-fit: cover;
}

header .navrow .nav-toggle {
  display: none;
}

header .navrow .nav-toggle:checked ~ nav {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

header .navrow .nav-toggle:checked ~ nav a {
  opacity: 1;
  -webkit-transition: opacity 250ms ease-in-out 300ms;
  transition: opacity 250ms ease-in-out 300ms;
}

header .navrow .nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1em;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navrow .nav-toggle-label span,
header .navrow .nav-toggle-label span::before,
header .navrow .nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

header .navrow .nav-toggle-label span::before,
header .navrow .nav-toggle-label span::after {
  content: '';
  position: absolute;
}

header .navrow .nav-toggle-label span::before {
  bottom: 7px;
}

header .navrow .nav-toggle-label span::after {
  top: 7px;
}

header .navrow nav {
  height: 95px;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--clr-back);
  width: 100%;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
  z-index: 101;
  -webkit-box-shadow: inset 0 20px 10px -20px black;
          box-shadow: inset 0 20px 10px -20px black;
}

header .navrow nav li {
  list-style: none;
}

header .navrow nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 0 0 0 auto;
}

header .navrow nav .nav-list .nav-item {
  margin: 0 1rem 1rem 1rem;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

header .navrow nav .nav-list .nav-item:first-child {
  margin-top: 1rem;
}

header .navrow nav .nav-list .nav-item a {
  color: var(--clr-sec);
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}

header .navrow nav .nav-list .nav-item a:hover,
header .navrow nav .nav-list .nav-item a:focus {
  background-color: var(--clr-pri-dark);
}

header .navrow nav .subnav-parent .subnav {
  margin: 0 0 0 1.25rem;
}

header .navrow nav .subnav-parent .subnav .subnav_desc {
  margin: 0 0 0 1rem;
  font-weight: 300;
}

header .navrow nav .subnav-parent .subnav-item a {
  display: inline-block;
}

header .navrow nav .subnav-parent .subnav-item a:first-child {
  margin-top: 5px;
}

header .navrow nav .subnav-parent .subnav-item a:hover > div,
header .navrow nav .subnav-parent .subnav-item a:focus > div {
  background-color: var(--clr-pri-dark);
}

header .navrow nav .subnav-parent .twistyClosed {
  display: none;
}

header .navrow nav .subnav-parent .twistyOpen {
  display: none;
}

header .navrow nav .subnav-parent .subnav {
  display: block;
}

header .banner {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 420px;
  width: 100%;
  color: white;
}

header .banner .banner__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1rem;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(20%, transparent), color-stop(35%, rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(to bottom, transparent 0%, transparent 20%, rgba(0, 0, 0, 0.1) 35%, rgba(0, 0, 0, 0.5) 100%);
}

header .banner .banner__body .banner__title {
  max-width: 22ch;
  font-size: clamp(1.75rem, 4vw, 3rem);
  margin: 0.5rem 0;
}

header .banner .banner__body .banner__desc {
  font-size: clamp(1.25rem, 2.25vw, 2rem);
  line-height: 1.25em;
  font-weight: 400;
  margin: 0.5rem 0;
}

/* ------ HEADER MEDIA QUERIES ------ */
@media screen and (min-width: 1225px) {
  header {
    position: relative;
  }
  header .navrow {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto minmax(600px, 5fr);
        grid-template-columns: auto minmax(600px, 5fr);
  }
  header .navrow .logo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  header .navrow .logo img {
    width: calc(150px + 5vw);
  }
  header .navrow .nav-toggle-label {
    display: none;
  }
  header .navrow nav {
    all: unset;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .navrow nav .nav-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: auto;
  }
  header .navrow nav .nav-list .subnav-parent .twistyOpen {
    display: inline;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
  header .navrow nav .nav-list .subnav-parent .twistyClosed {
    display: inline;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
  header .navrow nav .nav-list .subnav-parent .subnav_closed {
    display: none;
  }
  header .navrow nav .nav-list .subnav-parent .subnav_open {
    position: absolute;
    display: block;
    background-color: var(--clr-pri);
    top: 100%;
    padding: 0 10px 0 10px;
    -webkit-box-shadow: inset 0 20px 10px -20px black, 10px 10px 10px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0 20px 10px -20px black, 10px 10px 10px rgba(0, 0, 0, 0.5);
  }
  header .navrow nav .nav-list .nav-item a {
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
  }
  header .navrow nav .nav-list .nav-item a:hover,
  header .navrow nav .nav-list .nav-item a:focus {
    background-color: var(--clr-pri-dark);
  }
  header .navrow nav .nav-list .nav-item:first-child {
    margin-top: 0rem;
  }
  header .navrow nav .nav-list .nav-item .subnav-item {
    margin: 0.5em 0;
  }
}

@media screen and (min-width: 875px) {
  header .banner .banner__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  header .banner .banner__body .banner__title {
    width: 45%;
  }
  header .banner .banner__body .banner__desc {
    width: 45%;
    text-align: right;
  }
}

/* --------------------- */
/* ------ SECTION ------ */
/* --------------------- */
section {
  max-width: 1000px;
  margin: 4rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--clr-pri);
}

section .sectionTitle {
  margin: 0 0.5rem;
}

section .sectionTitle h1 {
  font-weight: 800;
  font-size: 2.5rem;
  margin: 0;
  line-height: 1em;
}

section .sectionTitle h2 {
  line-height: 0.5rem;
  font-size: 1.5rem;
  margin: 1rem 0;
}

section .sectionTitle .underline {
  height: 5px;
  width: 100%;
  background-color: var(--clr-pri);
}

section .sectionBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .sectionBody .sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: calc(375px - 1rem);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(251, 234, 255, 0)), color-stop(29.69%, rgba(249, 225, 255, 0.76)), color-stop(63.02%, #f8dbff));
  background: linear-gradient(180deg, rgba(251, 234, 255, 0) 0%, rgba(249, 225, 255, 0.76) 29.69%, #f8dbff 63.02%);
  border-radius: 0px 0px 5px 5px;
  padding: 1rem;
  margin: 0 auto;
}

section .sectionBody .sidebar img {
  max-width: 80%;
  max-height: 250px;
  margin: 0 auto;
}

section .sectionBody .sidebar .factbox {
  background-color: var(--clr-pri);
  width: 100%;
  margin: 1rem auto 0;
  border-radius: 5px;
  color: var(--clr-sec);
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .sectionBody .sidebar .factbox .factbox-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}

section .sectionBody .sidebar .factbox .number {
  font-size: calc(2rem + 1vw);
  font-weight: 700;
  line-height: 0.9em;
  margin: auto 0;
  text-align: center;
}

section .sectionBody .sidebar .factbox .bigNumber {
  width: 3ch;
}

section .sectionBody .sidebar .factbox .text {
  font-size: calc(1rem + 0.75vw);
  line-height: 1.25em;
  font-weight: 700;
  text-align: center;
}

section .sectionBody .sidebar .factbox .text-only {
  font-size: calc(2rem + 0.75vw);
}

section .sectionBody .sidebar .factbox .unit {
  font-size: calc(0.75rem + 0.5vw);
  font-weight: 600;
  text-align: center;
}

section .sectionBody .sidebar .factbox .numList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .sectionBody .sidebar .factbox .numList .numList-item {
  font-size: 1.5rem;
}

section .sectionBody .sidebar .factbox .numList .numList-units {
  font-size: 1rem;
  height: 1rem;
  margin: auto 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

section .sectionBody .sidebar h3 {
  color: var(--clr-pri-dark);
  font-size: 1.25rem;
  margin: 0 auto;
}

section .sectionBody .sidebar p {
  margin: 0 auto;
  font-size: 1.25rem;
}

section .sectionBody .sidebar .p-small {
  font-size: 0.9rem;
}

section .sectionBody .mainBody {
  padding: 1rem;
  margin: 0;
  font-size: 1.4rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .sectionBody .mainBody p:first-of-type {
  margin-top: 0;
}

section .sectionBody .mainBody .ulPawprints {
  padding-left: 3rem;
  list-style: initial;
  list-style-image: url("/assets/images/purple_paw_VS.png");
}

section .sectionBody .mainBody .ulPawprints li {
  padding-left: 0.5rem;
}

section .sectionBody .mainBody .courseContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
  text-align: center;
}

section .sectionBody .mainBody .courseContent .courseContent-item {
  width: 260px;
  margin: 0.5rem 0;
}

section .sectionBody .mainBody .courseContent .courseContent-item .courseContent-item-title {
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 700;
  color: var(--clr-pri-dark);
}

section .sectionBody .mainBody .courseContent .courseContent-item .courseContent-item-body {
  margin: 0 auto;
  font-size: 1rem;
  width: 200px;
}

section .sectionBody .mainBody .listIntro {
  margin-bottom: 0;
}

section .sectionBody .mainBody .callToAction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem 0;
}

section .sectionBody .mainBody .subSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .sectionBody .mainBody .subSection .colImg {
  width: 100%;
  max-width: 190px;
  margin: 1rem auto;
}

section .sectionBody .mainBody .subSection .colText {
  margin: auto 0;
}

section .subtext {
  font-size: 1rem;
  margin-top: 2rem;
}

/* ------ SECTION MEDIA QUERIES ------ */
@media screen and (min-width: 750px) {
  section .sectionBody {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  section .sectionBody .sidebar {
    min-width: 343px;
    margin: 0;
  }
  section .sectionBody .sidebar .factbox .factbox-item .number {
    font-size: 3.5rem;
  }
  section .sectionBody .sidebar .factbox .factbox-item .text-only {
    font-size: calc(1.25rem + 0.75vw);
  }
  section .sectionBody .mainBody .callToAction {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 850px) {
  section .sectionBody .mainBody .subSection {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  section .sectionBody .mainBody .subSection .colImg {
    margin-right: 2rem;
  }
}

/* ------------------------------ */
/* ------ SECTION - TILES ------ */
/* ------------------------------ */
.tiles {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.tiles a {
  text-decoration: none;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--clr-pri);
  width: 300px;
  height: 500px;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 0.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.card img {
  width: 100%;
  max-height: 200px;
  overflow: hidden;
  border-radius: 0.5rem;
}

.card ul {
  list-style-image: url("/assets/images/paw_white_VVS.png");
  line-height: 1.75em;
}

.card button {
  background-color: var(--clr-sec);
  margin: 1rem 0 0.5rem;
  padding: 0.5rem 0.75rem;
  color: var(--clr-pri);
  font-size: 1.125rem;
  font-weight: 700;
}

.card button:hover {
  -webkit-transform: scale(125%);
          transform: scale(125%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.card button img {
  width: 20px;
  margin: 0 0.25rem;
}

.card-shadow {
  position: relative;
}

.card-shadow::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
  border-radius: 0.5em;
}

.card-shadow:hover,
.card-shadow:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.card-shadow:hover::after,
.card-shadow:focus::after {
  opacity: 1;
}

/* ------ SECTION MEDIA QUERIES - TILES ------ */
@media screen and (min-width: 700px) {
  .tiles {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .tiles .card {
    margin: 3rem auto 0;
  }
}

@media screen and (min-width: 1300px) {
  .tiles {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    max-width: 1350px;
  }
}

/* ------------------------------ */
/* ------ SECTION - TUTORS ------ */
/* ------ SECTION - OTHER COURSES ------ */
/* ------------------------------ */
.tutor,
.course {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem auto;
  min-width: 300px;
  max-width: 30%;
  text-align: center;
  font-size: 1.4rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tutor img,
.course img {
  max-width: 250px;
}

.tutor h2,
.course h2 {
  font-size: 2rem;
  margin: 0;
}

.tutor p,
.course p {
  margin: 0;
  font-weight: 700;
}

.course {
  height: 430px;
}

.course + .course {
  margin-top: 3rem;
}

.course img {
  height: 200px;
}

.course .course_button {
  margin-top: 2rem;
}

/* ------ SECTION MEDIA QUERIES - TUTORS ------ */
@media screen and (min-width: 750px) {
  .tutor,
  .course {
    margin: 1rem auto 0;
  }
  .course + .course {
    margin-top: 1rem;
    margin-left: 1rem;
  }
}

/* ---------------------------------- */
/* ------ SECTION - DISCLAIMER ------ */
/* ---------------------------------- */
.disclaimer p {
  margin: 2rem auto;
  text-align: center;
}

/* ------------------------------------ */
/* ------ SECTION - ASSOCIATIONS ------ */
/* ------------------------------------ */
.associations {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.associations img {
  width: 150px;
  height: 100%;
  margin: 1rem;
}

/* ------ SECTION MEDIA QUERIES - ASSOCIATIONS ------ */
@media screen and (min-width: 500px) {
  .associations {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.gallery {
  width: 100%;
  height: 500px;
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery .galleryItem {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 530px;
  height: 400px;
  margin: auto;
  background-color: white;
  position: absolute;
}

.gallery .galleryItem .galleryItem-picture {
  margin: 15px auto;
}

.gallery .galleryItem .galleryItem-text {
  margin: 0 auto;
  font-family: Caveat;
  font-size: 2rem;
  font-weight: 700;
  color: black;
}

.gallery .galleryItem img {
  width: 500px;
}

.gallery .galleryItem11 {
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.gallery .galleryItem12 {
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 98;
}

.gallery .galleryItem01,
.gallery .galleryItem02,
.gallery .galleryItem03,
.gallery .galleryItem04,
.gallery .galleryItem05,
.gallery .galleryItem06,
.gallery .galleryItem07,
.gallery .galleryItem08,
.gallery .galleryItem09,
.gallery .galleryItem10 {
  -webkit-animation: translate1 50s ease-in-out infinite;
          animation: translate1 50s ease-in-out infinite;
}

.gallery .galleryItem01 {
  z-index: 110;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.gallery .galleryItem02 {
  z-index: 109;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.gallery .galleryItem03 {
  z-index: 108;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.gallery .galleryItem04 {
  z-index: 107;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

.gallery .galleryItem05 {
  z-index: 106;
  -webkit-animation-delay: 20s;
          animation-delay: 20s;
}

.gallery .galleryItem06 {
  z-index: 105;
  -webkit-animation-delay: 25s;
          animation-delay: 25s;
}

.gallery .galleryItem07 {
  z-index: 104;
  -webkit-animation-delay: 30s;
          animation-delay: 30s;
}

.gallery .galleryItem08 {
  z-index: 103;
  -webkit-animation-delay: 35s;
          animation-delay: 35s;
}

.gallery .galleryItem09 {
  z-index: 102;
  -webkit-animation-delay: 40s;
          animation-delay: 40s;
}

.gallery .galleryItem10 {
  z-index: 101;
  -webkit-animation-delay: 45s;
          animation-delay: 45s;
}

@-webkit-keyframes translate1 {
  0% {
    z-index: 109;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  10% {
    -webkit-transform: translate(0, 0) rotate(0deg) scale(1);
            transform: translate(0, 0) rotate(0deg) scale(1);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 110;
  }
  11% {
    -webkit-transform: translate(625px, -45px) rotate(15deg) scale(1.05);
            transform: translate(625px, -45px) rotate(15deg) scale(1.05);
    -webkit-box-shadow: 0px 10px 30px 10px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 10px 30px 10px rgba(0, 0, 0, 0.3);
    z-index: 110;
  }
  12% {
    z-index: 90;
  }
  13% {
    -webkit-transform: translate(0, 0) rotate(0deg) scale(0.9);
            transform: translate(0, 0) rotate(0deg) scale(0.9);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  14% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    z-index: 101;
  }
  30% {
    z-index: 102;
  }
  40% {
    z-index: 103;
  }
  50% {
    z-index: 104;
  }
  60% {
    z-index: 105;
  }
  70% {
    z-index: 106;
  }
  80% {
    z-index: 107;
  }
  90% {
    z-index: 108;
  }
  99% {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  100% {
    z-index: 109;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
}

@keyframes translate1 {
  0% {
    z-index: 109;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  10% {
    -webkit-transform: translate(0, 0) rotate(0deg) scale(1);
            transform: translate(0, 0) rotate(0deg) scale(1);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 110;
  }
  11% {
    -webkit-transform: translate(625px, -45px) rotate(15deg) scale(1.05);
            transform: translate(625px, -45px) rotate(15deg) scale(1.05);
    -webkit-box-shadow: 0px 10px 30px 10px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 10px 30px 10px rgba(0, 0, 0, 0.3);
    z-index: 110;
  }
  12% {
    z-index: 90;
  }
  13% {
    -webkit-transform: translate(0, 0) rotate(0deg) scale(0.9);
            transform: translate(0, 0) rotate(0deg) scale(0.9);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  14% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    z-index: 101;
  }
  30% {
    z-index: 102;
  }
  40% {
    z-index: 103;
  }
  50% {
    z-index: 104;
  }
  60% {
    z-index: 105;
  }
  70% {
    z-index: 106;
  }
  80% {
    z-index: 107;
  }
  90% {
    z-index: 108;
  }
  99% {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  100% {
    z-index: 109;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
}

@media screen and (max-width: 550px) {
  .gallery {
    height: 350px;
  }
  .gallery .galleryItem {
    width: 330px;
    height: 275px;
  }
  .gallery .galleryItem img {
    width: 300px;
  }
}

/* -------------------- */
/* ------ FOOTER ------ */
/* -------------------- */
footer {
  max-width: 1350px;
  background-color: var(--clr-pri);
  margin: 0 auto;
  color: white;
  border-radius: 0.5rem 0.5rem 0 0;
  overflow: hidden;
}

footer .footerRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}

footer .footerRow a {
  color: white;
}

footer .footerRow .contacts {
  margin: 0 auto 1rem;
}

footer .footerRow .contacts .contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5rem 0;
}

footer .footerRow .contacts .contact-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

footer .footerRow .contacts .contact-item .underlineLink {
  text-decoration: underline;
}

footer .footerRow .contacts .contact-item img {
  width: 25px;
  margin: 0 1rem 0 0;
}

footer .footerRow .socialMedia {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 auto;
}

footer .footerRow .socialMedia img {
  margin: 0 0.5rem;
}

footer .footerRow:first-of-type {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footerRow:last-of-type div + div {
  text-align: right;
}

/* ------ FOOTER MEDIA QUERIES ------ */
@media screen and (min-width: 500px) {
  footer .footerRow .contacts {
    margin: 0;
  }
  footer .footerRow .socialMedia {
    margin: 0 0 0 auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .footerRow:first-of-type {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer img {
    margin: 0 0.5rem;
  }
}

.highlight {
  font-weight: 700;
}
/*# sourceMappingURL=pawprints.css.map */